html{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: baseline;
    overflow-x: hidden;
}

*,*::after,*::before{
    box-sizing: inherit;
}