html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{ text-align: center;
box-sizing: border-box ;}
.tabs-menu{
   
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 205, 214);
}
 
.tabs-menu input[type="radio"]{
    display: none;
}

.tabs-menu label{
    position: relative;
    z-index: 1;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.tabs-menu label:hover{
    color: aliceblue;
}

.tabs-menu input[type="radio"]:checked + label{
color: aliceblue;
}
.tab-bg-hover{
    position: absolute;
    width: 23%;
    width: calc(100%/4 -1rem);
    height: 1.5rem;
    border-radius: 5rem;
    background-image: linear-gradient(90deg,#a00,#d00);
    transform: transform 400ms ease-in-out;
  
  }

  #tab-1:checked~.tab-bg-hover{
    transform: translateX(0);
  }
  #tab-2:checked~.tab-bg-hover{
    transform: translateX(100%);
  }
  #tab-3:checked~.tab-bg-hover{
    transform: translateX(200%);
  }
  #tab-4:checked~.tab-bg-hover{
    transform: translateX(300%);
  }